/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.jumbotron{
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom:0px;
  border-bottom: 4px solid black;
}

a:link {
    text-decoration: none;
}

.user-icon label{
  
}

.mainbar {
  background: linear-gradient(#F75165, #FFDB6B);
  margin-bottom:0px;
}

.main-link{
  cursor: auto;
}

.title {
  /*display:inline-block;*/
  margin: 0px;
  color:black;
  cursor: pointer;
}

.title:hover {
    color: red;
    /* Start the shake animation and make the animation last for 0.5 seconds */
    animation: shake 0.5s;
    /* When the animation is finished, start again */
    animation-iteration-count: infinite;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.user-title {
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
}

.banner-pic {
  /*display: inline;*/
  width: 15%;
  height: 15%;
  cursor: pointer;
}

.userbar .col-sm-2{
  padding: 0px;
}

.userbar .col-sm-8{
  padding: 0px;
}

.user-box{
  margin: 0px;
  background-color: #FFDB6B;
  border-bottom: 4px solid black;
  border-left: 4px solid black;
  border-right: 4px solid black;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  width: 98%;
  height: 10vmin;
  padding: 10px;
}

.userbox ul{
  padding: 10px;
}

.user-box li{
  padding-left: 10px;
  padding-top: 10px;
  padding-right: 10px;
  float: right;
  list-style: none;
  align-items: inline;
}

nav .col-sm-2{
  margin-right: 10px;
  margin-left: 10px;
}

/*This section is dedicated to the restaurant tiles*/
.restaurant-box{
  width: 100%;
  height: 180px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 20px;
}

.edit {
  float:right;
  width: 25%;
  background-color: rgba(255,255,255, 0.3);
  max-height: 100%;
}

.delete {
  float:right;
  width: 25%;
  background-color: rgba(255,255,255, 0.3);
  max-height: 100%;
}

/*This section is for tiles with images*/
/*This is for the title of tiles */
.tile-title{
  top: 35%;
  text-align: center;
  position: relative;
}

.restaurant-image-box {
  width: 100%;
  height: 100%;
  padding-left: 5px;
  border-radius: 10px;
  color: white;
  text-align: center;
}

.restaurant-image-box ul{
  opacity: 0;
}

.restaurant-image-box:hover h2{
  opacity: 0;
}

.restaurant-image-box:hover{
  opacity: 0.7;
}

.restaurant-image-box:hover ul{
  opacity: 1;
  display: inline;
  position: relative;
  bottom: 20px;
}



.restaurant-box-no-image {
  width: 100%;
  height: 100%;
  padding-left: 5px;
  border-radius: 10px;
  color: white;
  text-align: center;
}

.restaurant-box-no-image ul{
  opacity: 0;
}


.restaurant-box-no-image:hover h2{
  opacity: 0;
}

.restaurant-box-no-image:hover{
  opacity: 0.7;
}

.restaurant-box-no-image:hover ul{
  opacity: 1;
  display: inline;
  position: relative;
  bottom: 20px;
}








  .affix {
      top: 0;
      width: 100%;
      z-index: 9999 !important;
  }

  .affix + .container-fluid {
      padding-top: 70px;
  }

  #rating-faces{
    height: 30px;
    width: 30px;
  }



label > input + img{ /* IMAGE STYLES */
  cursor:pointer;
  border: 2px solid transparent;
}
