/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.jumbotron{
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom:0px;
  border-bottom: 4px solid black;
}

.mainbar {
  background: linear-gradient(#F75165, #FFDB6B);
  margin-bottom:0px;
}

.title {
  display:inline-block;
}

.banner-pic {
  display: inline;
  width: 15%;
  height: 15%;
}

.userbar .col-sm-2{
  padding: 0px;
}

.userbar .col-sm-8{
  padding: 0px;
}


.user-box{
  margin: 0px;
  background-color: #FFDB6B;
  border-bottom: 4px solid black;
  border-left: 4px solid black;
  border-right: 4px solid black;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  height: 10vmin;
  padding: 10px;
}

  .affix {
      top: 0;
      width: 100%;
      z-index: 9999 !important;
  }

  .affix + .container-fluid {
      padding-top: 70px;
  }

/*.left-blank {
  margin: 0px;
  border-top: 4px solid black;
}

.right-blank {
  margin: 0px;
  border-top: 4px solid black;
}*/
